# 测试标准化计算的代码

In [51]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [71]:
df = pd.DataFrame({'data1':[3,6,7],'data2':[5,2,3],'data3':[5,2,3]})  
df.describe()

          data1     data2     data3
count  3.000000  3.000000  3.000000
mean   5.333333  3.333333  3.333333
std    2.081666  1.527525  1.527525
min    3.000000  2.000000  2.000000
25%    4.500000  2.500000  2.500000
50%    6.000000  3.000000  3.000000
75%    6.500000  4.000000  4.000000
max    7.000000  5.000000  5.000000

In [72]:
def standard_column(df, column=['data1','data2']):
    column_mean = df[column].mean()
    column_std = df[column].std()
    df[column] = (df[column]-column_mean)/column_std
    return df

In [73]:
df = standard_column(df)

In [74]:
df

      data1     data2  data3
0 -1.120897  1.091089      5
1  0.320256 -0.872872      2
2  0.800641 -0.218218      3